#welcome {
  /*padding-bottom: $spacingMd;
  padding-top: $spacingMd;*/
  text-align: center;

  /*h1 {
    font-size: $spacingMd;
    margin: 0;
  }*/

  img {
    max-width: $baseWidth;
  }

  p {
    margin-bottom: 0;
    margin-top: $spacingSm;
  }
}

@media screen and (min-width: $breakpointMd) {
  #welcome {
    margin-top: $navbarHeight;
    /*padding-bottom: $spacingLg;
    padding-top: $spacingLg;*/

    /*h1 {
      font-size: $spacingLg;
    }*/

    img {
      max-width: calc(#{$baseWidth} * 1.25);
    }
  }
}
