@font-face {
  font-family: "GravityRegular";
  src: url("../fonts/gravity-regular.otf") format("opentype");
}
@font-face {
  font-family: "TheBoldFont";
  src: url("../fonts/theboldfont.ttf") format("truetype");
}

$baseWidth: 320px;
$breakpointMd: 768px;
$navbarHeight: 51px;

$spacingXxs: calc(#{$baseWidth} / 40);           /* 8px */
$spacingXs: calc(#{$baseWidth} / 20);            /* 16px */
$spacingSm: calc(#{$spacingXs} * 2);             /* 32px */
$spacingMd: calc(#{$spacingXs} + #{$spacingSm}); /* 48px */
$spacingLg: calc(#{$spacingXs} * 4);             /* 64px */

$colorMbBackgroundLight: #fff;
$colorMbFontDark: #333;
$colorMbFormFieldBorder: #ccc;
$colorMbTeal: #185e75;
$colorMbTealLight: #7ca4b1;
$colorWhite: #fff;

$fontFamily: "GravityRegular", sans-serif;

body {
  background-color: $colorMbBackgroundLight;
  background: url(../images/welcome.png) no-repeat center center fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $colorMbFontDark;
  font-family: $fontFamily;
  margin: 0;
  min-width: $baseWidth;
}

#logo {
  max-width: $baseWidth;
}

.linkedin {
  color: #00a0dc;

  &:link {
    color: #00a0dc;
  }

  &:visited {
    color: #00a0dc;
  }
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  text-align: center;
  color: #185e75;
}

h2 {
  margin-top: $spacingLg;
}

.wrapper {
  padding-left: $spacingXs;
  padding-right: $spacingXs;
}

section {
  padding-bottom: $spacingSm;
  padding-top: $spacingSm;
}

section:last-child {
  margin-bottom: $navbarHeight;
}

h1 {
  font-size: $spacingSm;
  line-height: 1;
  margin: 0 0 $spacingSm 0;
  text-align: center;
}

h2 {
  font-weight: 400;
  line-height: 1;
}

h4 {
  font-weight: 400;
  line-height: 1;
  opacity: 0.5;
}

@media screen and (min-width: $breakpointMd) {
  .wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: $breakpointMd;
  }

  section {
    padding-bottom: $spacingMd;
    padding-top: $spacingMd;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h1 {
    font-size: $spacingMd;
    margin-bottom: $spacingMd;
  }
}

@import './nav';
@import './welcome';
@import './about';
@import './services';
@import './contact';
@import './notification'
